@model Question
@*h2 class="text-primary">Post Questions</h2>
<form method="post" enctype="multipart/form-data">
   <div class="form-group  mt-2">
       <input type="text" asp-for="Text" class="form-control pt-20 w-100" placeholder="Question" />
       <span asp-validation-for="Text"></span>
   </div>
    <div class="form-group  mt-2">
        <input type="text" name="optionText" asp-for="optionText" class="form-control pt-20" placeholder="option1" />
        <span asp-validation-for="Text"></span>
    </div>
    <div class="form-group  mt-2">
        <input name="optionText" type="text" asp-for="optionText" class="form-control pt-20" placeholder="option2" />
        <span asp-validation-for="optionText"></span>
    </div>
    <div class="form-group  mt-2">
        <Label for="isCorrect">Is Correct</Label>
        <input type="checkbox" name="isCorrect" asp-for="isCorrect" value="IsCorrect" class="form-control pt-20 w-50" />
        <span asp-validation-for="isCorrect"></span>
    </div>

    <div class="mt-2 w-50" >
        <input type="submit" id="submit" value="Submit" class="btn btn-success" />
    </div>
</form>*@
    <h2>Create Questions</h2>
    <form asp-controller="QuizDev" asp-action="CreateQuiz2" method="post">
        <div class="form-group">
            <Label asp-for="Text">Question Text:</Label>
                <input asp-for="Text" class="form-control"/>
                </div>
                <h4>Options:</h4>
                <div class="form-group" id="options">
            <div class="option">
              <input type="text" asp-for="Answers[0].Text" name="Answers[0].Text" class="form-control" placeholder="option 1"/>
              <input type="checkbox" asp-for="Answers[0].IsCorrect"  name="Answers[0].IsCorrect" />Correct
            </div>
                </div>

                        <button type="button" id="addOption" class="btn btn-secondary">Add Option</button>
                           <button type="submit" class="btn btn-primary">Create</button>
</form>
@section scripts{
    <script>
        $(document).ready(function (){
            let optionCount = 1;
            $("#addOption").on("click", function(){
                const newOption = `<div class="option">
                    <input type="text" asp-for="Answers[${optionCount}].Text" name="Answers[${optionCount}].Text" class="form-control" placeholder="Answer ${optionCount + 1}"/>
                       <input type="checkbox" asp-for="Answers[${optionCount}].IsCorrect" name="Answers[${optionCount}].IsCorrect"/> Correct </div>`;
                   $("#options").append(newOption);
                  optionCount++;
            });
        });
    </script>
}
