@model Question
    <h2>Create Questions</h2>
    <div asp-asp-validation-summary="Model Only"></div>
    <form asp-controller="Quiz" asp-action="CreateQuiz" method="post">
        <div class="form-group">
            <Label asp-for="Text">Question Text:</Label>
                <input asp-for="Text" class="form-control"/>
                </div>
                <h4>Options:</h4>
                <div class="form-group" id="options">
            <div class="option">
              <input type="text" asp-for="Answers[0].Text" name="Answers[0].Text" class="form-control" placeholder="option 1"/>
              <input type="checkbox" asp-for="Answers[0].IsCorrect"  name="Answers[0].IsCorrect" />Correct
            </div>
                </div>

                        <button type="button" id="addOption" class="btn btn-secondary">Add Option</button>
                           <button type="submit" class="btn btn-primary">Create</button>
</form>
@section scripts{
    <script>
        $(document).ready(function (){
            let optionCount = 1;
            $("#addOption").on("click", function(){
                const newOption = `<div class="option">
                    <input type="text" /*asp-for="Answers[${optionCount}].Text"*/ name="Answers[${optionCount}].Text" class="form-control" placeholder="Option ${optionCount + 1}"/>
                       <input type="checkbox" /*asp-for="Answers[${optionCount}].IsCorrect"*/ name="Answers[${optionCount}].IsCorrect" value="true"  /> Correct </div>`;
                   $("#options").append(newOption);
                  optionCount++;
            });
        });
    </script>
}
