@model CustomViewViewModel

<h2>Result</h2>

@*<p>Your score is: @Model%</p>*@
<h3>Your Score: @ViewBag.Percentage.ToString("0.00")%</h3>

@if (@ViewBag.Percentage >= 70)
{
        <p>Congratulations! You passed!</p>
}
else
{
        <p>Sorry, you did not pass. Please try again.</p>
}